<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="astatic/css/sankey.css">

    <title>Migration Flows in the United States</title>
    <style>

      .node rect {
        cursor: move;
        fill-opacity: .9;
        shape-rendering: crispEdges;
      }
      
      .node text {
        pointer-events: none;
        text-shadow: 0 1px 0 #fff;
      }
      
      .link {
        fill: none;
        stroke: #000;
        stroke-opacity: .2;
      }
      
      .link:hover {
        stroke-opacity: .5;
      }
      
      </style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="/">Project PRISM</a>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="Data.html">Data <span class="sr-only">(current)</span></a>
            </li>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Team JABAscript
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="Jabascript.html"> About the Team</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="Justin.html">Justin Acance</a>
              <a class="dropdown-item" href="Alicia.html">Alicia Ly</a>
              <a class="dropdown-item" href="Rob.html">Robert Orgain</a>
              <a class="dropdown-item" href="Alexei.html">Alexei Flores</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Visualizations
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="Comparisons.html"> Results Home</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="Alexei.html">Migration Flows in the US</a>
              <a class="dropdown-item" href="Justin.html">An Atlas of US Migration Data</a>
              <a class="dropdown-item" href="Rob.html">Migration Factors</a>
              <a class="dropdown-item" href="Alicia.html">A Map of Median Income</a>
            </div>
          </li>
      </nav>
  </head>

    <h1>Project PRISM</h1>
    <h1>Visualizing Migration Flows in the United States</h1>
  
<body>
   
  <div class="container">

    
    <div class="row">
        <div class="col-xs-12  col-md-9">
          <div id="key">
          </div>
         
        </div>
        </div>
        <div class="col-xs-12  col-md-3">
            <p>Plot 1.2: this plot shows ... 
            </p>
        </div>
       


       <div class="row">
         <div class="col-xs-12  col-md-9">
             <p> The sankey chart above shows that internal migration in the United States is not as simple a phenomenon as most assume.
             </p>
         </div>    
       </div>
     </div>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
    <script src="https://unpkg.com/d3-array@1"></script>
    <script src="https://unpkg.com/d3-collection@1"></script>
    <script src="https://unpkg.com/d3-path@1"></script>
    <script src="https://unpkg.com/d3-shape@1"></script>
    <script src="https://unpkg.com/d3-sankey@0"></script>
    <script type="text/javascript" src="static/js/sankey3.js"></script>
    <script type="text/javascript" src="static/js/sankeyfunctions.js"></script>
    <!-- <script type="text/javascript" src="static/js/config.js"></script> -->
  </body>
</html>