<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!-- Header with scrape new data button -->
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape new data</a></p>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <!-- Show latest scraped news article headline and description -->
        <div class="container"><h2>Latest Mars News</h2><br>
          <p><b>{{ mars_all.news_title }}</b><br>{{ mars_all.news_p }}<br>
          </p>
        </div>
      </div>
      <br>

    <div class="row">
      <div class="col" id="featured">
        <!-- Scraped featured image -->
        <h2>Featured Mars Image</h2>
        <img src="{{ mars_all.featured_image_url }}" height=90% width=90%>
      </div>
      <div class="col-sm-4" id="marsfacts">
        <!-- Table of scraped Mars facts -->
        <p style="font-size: 18px; text-align: center"><b>Mars Facts</b></p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr style="text-align: right;">

            </thead>
            <tbody>
              <tr>
                <th>Equatorial Diameter:</th>
                <td>6,792 km</td>
              </tr>
              <tr>
                <th>Polar Diameter:</th>
                <td>6,752 km</td>
              </tr>
              <tr>
                <th>Mass:</th>
                <td>6.39 × 10^23 kg (0.11 Earths)</td>
              </tr>
              <tr>
                <th>Moons:</th>
                <td>2 (Phobos &amp; Deimos)</td>
              </tr>
              <tr>
                <th>Orbit Distance:</th>
                <td>227,943,824 km (1.38 AU)</td>
              </tr>
              <tr>
                <th>Orbit Period:</th>
                <td>687 days (1.9 years)</td>
              </tr>
              <tr>
                <th>Surface Temperature:</th>
                <td>-87 to -5 °C</td>
              </tr>
              <tr>
                <th>First Record:</th>
                <td>2nd millennium BC</td>
              </tr>
              <tr>
                <th>Recorded By:</th>
                <td>Egyptian astronomers</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
    <!-- Scraped Mars hemispheres names and photos -->
    <div class="container" id="hemispheres">
      <br><br>
      <h2>Mars hemispheres</h2>


      <div class="row">
        <div class="col-6 col-sm-4">
          <img class="center" src="{{ mars_all["valles_marineris_img_url"] }}" height="250px" width="250px"><br>
          {{ mars_all["valles_marineris_title"] }}
        </div>
        <div class="col-6 col-sm-4">
          <img src="{{ mars_all["cerberus_img_url"] }}" height="250px" width="250px"><br>
          {{ mars_all["cerberus_title"] }}
        </div>
      
        <!-- Force next columns to break to new line at md breakpoint and up -->
        <div class="w-100 d-none d-md-block"></div>
        <br>
        <br>
      
        <div class="col-6 col-sm-4">
          <img src="{{ mars_all["schiaparelli_img_url"] }}" height="250px" width="250px"><br>
          {{ mars_all["schiaparelli_title"] }}
        </div>
        <div class="col-6 col-sm-4">
          <img src="{{ mars_all["syrtis_major_img_url"] }}" height="250px" width="250px"><br>
          {{ mars_all["syrtis_major_title"] }}
        </div>
      </div>
    </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>